<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="helloworld" class="com.zou.test.HelloWorld"></bean>

    <bean id="person" class="com.zou.service.Person"></bean>

    <bean id="work" class="com.zou.service.Work">

        <property name="testInterface" ref="person"></property>
    </bean>

    <!-- 装配一个bean -->
    <bean id="people" class="com.zou.entity.People"></bean>

    <!-- 注入属性 -->
    <bean id="people2" class="com.zou.entity.People">

        <property name="id" value="1"></property>
        <property name="name" value="zhangsan"></property>
        <property name="age" value="22"></property>
    </bean>


    <!--  构造方法注入  类型注入-->

    <bean id="people3" class="com.zou.entity.People">
        <constructor-arg type="int" value="2"></constructor-arg>
        <constructor-arg type="java.lang.String" value="list"></constructor-arg>
        <constructor-arg type="int" value="22"></constructor-arg>
    </bean>


    <!--  构造方法注入  索引注入 -->

    <bean id="people4" class="com.zou.entity.People">
        <constructor-arg index="0" value="4"></constructor-arg>
        <constructor-arg index="1" value="wangwu"></constructor-arg>
        <constructor-arg index="2" value="44"></constructor-arg>
    </bean>


    <!-- 工厂注入的方式 -->
    <bean id="peopleFactory" class="com.zou.factory.PeopleFactory">
    </bean>
    <bean id="people6" factory-bean="peopleFactory" factory-method="createFactory"></bean>

    <!-- 静态工厂注入 -->
    <bean id="people7" class="com.zou.factory.PeopleFactory" factory-method="createStaticFactory">
    </bean>


    <bean id="dog1" class="com.zou.entity.Dog">
        <property name="name" value="走走走"></property>
    </bean>


    <!--  属性注入 -->
    <bean id="people8" class="com.zou.entity.People">
        <property name="id" value="1"></property>
        <property name="name" value="啥事"></property>
        <property name="age" value="332"></property>
        <property name="dog" ref="dog1"></property>
    </bean>


</beans>































